@CHARSET "UTF-8";

* {padding:0; margin:0;}

body {
	margin:0 0 5px 0;
	background:#fff;
	color:#444;
	font-size: 100%; /* Resets 1em to 10px */
	font-family: Verdana, 'Lucida Grande', Tahoma, Arial, Sans-Serif;
}

#page {
	background:#fff;
	border: 1px solid #9aca3c;	
}

a:hover, a:visited, a {
    color: #444444;
    text-decoration:underline;
    cursor:pointer;
}

li {
	margin-left:15px;	
}

#header {
	background: #9aca3c;
  	padding:5px 5px;
}

#header-title {
	float:left;	
	height: 50px;
}
#header-title h1 {
	font-size:110%;
	display:inline;
	height: 50px;
	vertical-align:middle;
}

#header-logo {
	float:left;
	width:50px;
	height: 50px;
}

#header-right {
	float:right;	
	text-align:right;
}


#menu {
	border-top: 1px solid #aaa;
	text-align: center;
	padding: 5px;
	background: #9aca3c;
	margin-bottom: 5px;
}

#content {
	font-size:100%;
}

#content h2 {
	font-size:110%;
	text-align: center;
}


div.formblock {
	padding: 5px;
	font-size:130%;
}

div.formlabel{
	padding: 0 5px;
	font-size:130%;
}

div.formfield{
	padding: 0 5px;
	font-size:140%;
}

div.error {
	border: 1px solid #ccc;
	padding:5px;
	margin:5px;
	color:red;
}

div.taskdate {
	margin-top:10px;
	background: #9aca3c;
	padding:5px;
}

div.task {
	border-bottom: 1px solid #9aca3c;
	padding:5px;
}

div.deltaskleft {
	width:50%;
	float:left;
}

div.deltaskright {
	width:50%;
	float:right;
	font-size:80%;
}

div.taskleft {
	width:20%;
	float:left;
	font-size:80%;
}


div.taskright {
	width:70%;
	float:left;
	
}

div.taskhighrisk {
	width:10%;
	float:left;
}

div.kpi {
	border: 1px solid #ccc;	
	padding:5px;
	margin:5px;
}


div.kpititle {
}

div.kpiheader {
	padding:0px 5px;
	margin:5px;
	font-size:80%;
}

div.kpiscore {
	width:35%;
	text-align:center;
	float:left;
	font-weight:bold;
}

div.kpichange {
	width:35%;
	text-align:center;
	float:left;
}

div.kpitarget {
	width:30%;
	text-align:center;
	float:left;
}

.increase {
	color: green;
}

.equal {
}

.decrease {
	color: red;
}

img.kpichange {
	vertical-align:middle;
}

input {
	width:100%;
	font-size:120%;
}

.error {
	color: red;
}

div.risk {
	border: 1px solid #ccc;	
	padding:5px;
	margin:5px;
}
div.risktitle {
	float:left;
	width:60%;
}
div.risktotal {
	float:left;
	text-align:right;
	width:20%;
}

#footer {
	text-align:center;
	margin-top:10px;
	font-size:80%;
}
