@CHARSET "UTF-8";

/* 
Style sheet for print
*/

* {
	padding:0;
	margin:0;
}

body {
	margin:0 0 5px 0;
	color:#444;
	font-size: 100%; /* Resets 1em to 10px */
	font-family: Verdana, 'Lucida Grande', Tahoma, Arial, Sans-Serif;
}

.printhide{
	display:none;	
}

#page {
}

#header {
	display:none;
}

#title {
	float:left;	
	width:60%;
}

#title h1 {
	font-size:130%;
	display:inline;
}

#title img {
	vertical-align:center;
}

#header-right {
	float:left;	
	text-align:right;
	width:38%;
}

#menu {
	display:none;
}

#content {
	padding:5px 10px;
	font-size:80%;
}

#content h2,h3 {
	margin: 10px 0;	
}

#footer {
	display:none;
}

#footer a:hover, a:visited, a {
	color:#444;
	
}

li {
	margin-left:15px;	
}
/* Forms */

div.formblock {
	clear:both;	
	margin:10px;
	padding:10px;
}

div.formlabel {
	float:left;
	width:100px;
}

div.formfield {
	float:left;
}

div.forminfo {
	float:left;	
}


/* Task manager table */
	
table.taskman {
	border:1px solid #77a240;
	background: #9aca3c;
	border-collapse:collapse;
	font-size:100%;
	width:100%;
}

table.admin {
	border:1px solid #77a240;
	background: #9aca3c;
	border-collapse:collapse;
	font-size:80%;
}

tr {
	border-top:1px solid #77a240;
}

th {
	border:none;
	padding:3px;
}

td {
	border:none;
	padding:3px;
	vertical-align:top;
}

tr.overdue {
	background: #ff6b6b;	
}

tr.duetoday {
	background: #fffd94;	
}

tr.n {
	background: #fff;	
}

div.datawarning {
	padding:5px;
	margin:10px;
	border:1px solid red;
	width:95%;
	min-height:50px;
	min-width:450px;
}


div.summary {
	float:left;
	padding:5px;
	margin:10px;
	border:1px solid #ccc;
	width:45%;
	min-height:100px;
	min-width:450px;
}

div.summary h2{
	font-size:100%;
}

div.summary h3{
	font-size:100%;
	margin-top:5px;
}

div.summarygraph {
	padding:5px;
	margin:10px;
	border:1px solid #ccc;
}

div.graph {
	padding:5px;
	margin:10px;
	border:1px solid #ccc;
}

div.risk {
	border:1px solid black;
	margin:0px 30%;
	padding:5px; 
	min-width:20px; 
	text-align:center;
	vertical-align:center;
	font-size:120%;
	font-weight:bold;
  	border-radius: 0.4em;
}

div.highrisk {
	background:#ff0000;
}

div.mediumrisk {
	background:#ffff00;
}

div.lowrisk {
	background:#00ff00;
}

/*report table*/
table.rtable {
	border:1px solid #77a240;
	border-collapse:collapse;
	font-size:100%;
}

tr.rrow {
	border-top:1px solid #77a240;
}

td.rqcell {
	background: #9aca3c;
	border:none;
	padding:5px 10px;
	vertical-align:top;
	text-align:right;
	font-weight:bold;
	width:200px;
}

td.rdcell {
	border:none;
	padding:5px 10px;
	vertical-align:top;
	width:400px;
}

td.rrcell {
	border:none;
	padding:5px 10px;
	vertical-align:top;
	width:100px;
}
td.sh {
	font-weight:bold;
}

tr.nav {
	background: #fff;
}

/* for KPI display */
div.kpi {
	border: 1px solid #ccc;	
	padding:5px;
	margin:5px;
}

div.kpiheader {
	padding:0px 5px;
	margin:5px;
}

div.kpiheadertitle {
	float:left;
	width:25%;
	text-align:center;
}

div.kpititle, div.kpiscore, div.kpichange, div.kpitarget {
	width:25%;
	text-align:center;
	float:left;
	font-size: 120%;
	font-weight: bold;
}

div.kpireport {
	border: 1px solid #ccc;	
	padding:5px;
	margin:5px;
}

div.kpireportheader {
	padding:0px 5px;
	margin:5px;
}

div.kpireportheadertitle {
	float:left;
	width:25%;
	text-align:center;
}

div.kpireporttitle, div.kpireportscore, div.kpireportchange, div.kpireporttarget {
	width:20%;
	text-align:center;
	float:left;
	font-size: 120%;
	font-weight: bold;
}

.increase {
	color: green;
}

.equal {
}

.decrease, .error {
	color: red;
}

img.kpichange {
	vertical-align:middle;
}